body {

    background-color: rgb(44, 105, 19);
    color: white;
    font-size: 20px;
    font-family:"Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0; 

}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family:"Bai Jamjuree", sans-serif;
}

.passo {
    display: none;

}

.passo.ativo {
    display: block;

}

main {
    text-align: center;
    max-width: 50%;
}

img {
    max-width: 100%;
}